
{% extends 'base.html' %}

{% block main %}

<form action="" method="post">
    {% csrf_token %}
    <label for="">Name</label> <br>
    <input type="name " name="name" value="{{Product.name}}"> <br>
    <label for="">Quantity</label> <br>
    <input type="number" name="quantity" value="{{product.quantity}}"> <br>
    <label for="">Price</label> <br>
    <input type="number" name="price" value="{{product.price}}"> <br>
    <label for="">Description</label> <br>
    <textarea name="description" id="" value="{{product.description}}"></textarea> <br>
    <button>Edit</button>
</form>







{% endblock main %}